rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isCreator() {
      return request.auth != null
        && (
          request.auth.uid == "NQJ4Lb9jvVVguqux6drwykUsfak1" ||
          get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "creator"
        );
    }

    match /{collection}/{docId} {
      allow read: if request.auth != null
        && (
          collection == "readingTests" ||
          collection == "writingTests" ||
          collection == "listeningTests" ||
          collection == "speakingTests"
        );

      allow write: if isCreator()
        && (
          collection == "readingTests" ||
          collection == "writingTests" ||
          collection == "listeningTests" ||
          collection == "speakingTests"
        );
    }

    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /results/{resultId} {
      allow create: if request.auth != null;

      allow read: if request.auth != null
        && resource.data.userId == request.auth.uid;

      allow update, delete: if false;
    }
  }
}
