rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isCreator() {
      return isSignedIn()
        && (
          request.auth.uid == "NQJ4Lb9jvVVguqux6drwykUsfak1" ||
          get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "creator"
        );
    }

    match /readingTests/{docId} {
      allow read: if isSignedIn();
      allow write: if isCreator();
    }

    match /writingTests/{docId} {
      allow read: if isSignedIn();
      allow write: if isCreator();
    }

    match /listeningTests/{docId} {
      allow read: if isSignedIn();
      allow write: if isCreator();
    }

    match /speakingTests/{docId} {
      allow read: if isSignedIn();
      allow write: if isCreator();
    }

    match /users/{userId} {
      allow read, write: if isSignedIn() && request.auth.uid == userId;
    }

    match /results/{resultId} {
      allow create: if isSignedIn();

      allow read: if isSignedIn()
        && resource.data.userId == request.auth.uid;

      allow update, delete: if false;
    }
  }
}
